h1 {
    text-align: center;
    color: #448013;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: bisque;
}
a{
    font-size: 20px;
    font-variant-caps: all-petite-caps;
    text-decoration: none;
    margin: 20px 20px;
    display: inline-block;
    background: #01ff958e;
    color: #000;
    padding: 10px 20px;
    box-shadow:0px 5px 0px #02834d63;

}
a:hover{
    box-shadow:0px 2px 0px #02834d63;
}
a:active{
    box-shadow: none;
}
ul{
    font-size: 30px;
}

header {
    height: 150px;
    width: 100%;
    border: solid;
    box-sizing: border-box;
    background-color: lightblue;
}

nav {
    height: 600px;
    width: 20%;
    border: solid;
    box-sizing: border-box;
    float: left;
    background-color: rgb(105, 168, 250);
}

aside {
    height: 600px;
    width: 25%;
    border: solid;
    box-sizing: border-box;
    float: left;
}

article {
    height: 600px;
    width: 55%;
    border: solid;
    box-sizing: border-box;
    float: left;
    background-color: gray;
}

footer {
    height: 100px;
    width: 100%;
    border: solid;
    box-sizing: border-box;
    clear: left;
    background-color: cadetblue;
}
body{
    background: black ;
}